[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fsemipar"]
	path = fsemipar
	url = https://github.com/cran/fsemipar
[submodule "qarPI"]
	path = qarPI
	url = https://github.com/silvianovo/qarpi
